.nav-def{
  &__ul{
    height: 100%;
    max-height: 41px;
  }
  &__li{
    margin: 0 7px;
    min-width: 105px;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 4px;
      background-color: #4BA87D;
    }
  }
  &__link{
    text-decoration: none;
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 20px;
    cursor: pointer;
    flex-grow: 1;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    transition: text-shadow .25s linear;
    &:hover{
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}

@media screen and (max-width: 996px){
  .nav-def{
    &__li{
      margin: 0 5px;
      min-width: 70px;
      position: relative;
      &::after{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 3px;
        background-color: #4BA87D;
      }
    }
    &__link{
      font-size: 11px;
      line-height: 13px;
    }
  }
}

@media screen and (max-width: 768px){
  .nav-def{
    display: none;
  }
}