.card-source{
  width: 320px;
  height: 449px;
  background-color: #fff;
  &__cap{}
  &__image{
    object-fit: contain;
  }
  &__content{
    padding: 25px 35px;
  }
  &__span{
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    display: inline-block;
    margin-bottom: 5px;
  }
  &__link{
    color: #4BA87D;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
  }
}