.header{
  background-color: inherit;
  &__frame{
    height: 102px;
    align-items: center;
  }
  &__menu{
    height: 41px;
  }
  &__btn{
    padding-left: 17px;
  }
  &__body{
    width: 100%;
    height: 636px;
    background-color: #4BA87D;
    background-image: url("../../pictures/png/header-bg.png");
    background-size: 100% auto;
  }
  &__content{
    height: 100%;
    max-width: 100%;
    width: 1088px;
    margin: 0 auto;
    position: relative;
  }
  &__scope{
    flex-grow: 1;
    max-height: 383px;
    height: 100%;
    width: 100%;
    position: relative;
  }
  &__square{
    position: relative;
    &::before{
      content: "";
      display: block;
      padding-top: 65%;
    }
  }
  &__picture{
    background-image: url("../../pictures/png/header-body.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -10%;
    left: -18%;
    right: 0;
    bottom: -10%;
  }
  &__info{
    flex-grow: 1;
    z-index: 10;
  }
  &__h1{
    font-family: "Playfair", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 59px;
    line-height: 71px;
    color: #000;
  }
  &__layer{
    padding: 23px 0 35px 0;
  }
  &__span{
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 26px;
  }
  &__button{
    width: 200px;
    height: 65px;
    padding: 20px 48px;
    font-size: 21px;
    &:last-child{
      margin-left: 45px;
    }
  }
}

@media screen and (max-width: 996px){
  .header{
    &__frame{
      height: 66px;
    }
    &__menu{
      height: 25px;
    }
    &__content{
      max-width: 717px;
    }
    &__h1{
      font-size: 38px;
      line-height: 46px;
    }
    &__layer{
      padding: 17px 0 25px 0;
    }
    &__span{
      font-size: 12px;
      line-height: 16px;
    }
    &__button{
      width: 131px;
      height: 42px;
      &:last-child{
        margin-left: 29px;
      }
    }
    &__body{
      height: 415px;
    }
    &__scope{
       max-height: 250px;
    }
  }
}

@media screen and (max-width: 768px){
  .header{
    &__body{
      height: 335px;
      padding-bottom: 15px;
    }
    &__content{
      width: 301px;
    }
    &__info{
      align-self: stretch;
      display: flex;
      flex-direction: column;
    }
    &__layer{
      align-self: end;
    }
    &__h1{
      font-size: 36px;
      line-height: 46px;
      flex-grow: 1;
    }
    &__span{
      font-size: 14px;
    }
    &__layer{
      padding: 17px 0 16px 0;
    }
    &__btn-zone{
      height: 40px;
      align-self: center;
      display: flex;
      justify-content: space-between;
    }
    &__button:last-child {
      margin-left: 40px;
    }
    &__scope{
      position: absolute;
    }
    &__square{
      position: static;
      &::before{
        display: none;
      }
    }
    &__picture{
      width: 300px;
      height: 170px;
      top: 15px;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: contain;
    }
  }
}