.header{
  background-color: inherit;
  &__frame{
    height: 102px;
    align-items: center;
  }
  &__menu{
    height: 41px;
  }
  &__btn{
    padding-left: 17px;
  }
  &__body{
    width: 100%;
    height: 636px;
    background-color: #4BA87D;
    background-image: url("../../pictures/png/header-bg.png");
    background-size: 100% auto;
  }
  &__content{
    height: 100%;
    padding: 0 75px;
  }
  &__scope{
    flex-grow: 1;
    max-height: 383px;
    height: 100%;
    width: 100%;
    position: relative;
  }
  &__picture{
    background-image: url("../../pictures/png/header-body.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -10%;
    left: -18%;
    right: 0;
    bottom: -10%;
  }
  &__info{
    flex-grow: 1;
    z-index: 10;
  }
  &__h1{
    font-family: "Playfair", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 59px;
    line-height: 71px;
    color: #000;
  }
  &__layer{
    padding: 23px 0 35px 0;
  }
  &__span{
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 26px;
  }
  &__btn-zone{

  }
  &__button{
    width: 200px;
    height: 65px;
    padding: 20px 48px;
    font-size: 21px;
    &:last-child{
      margin-left: 45px;
    }
  }
}